<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,968},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,979},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,968},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,316},{51,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{51,39}}</string>
                <key>sourceSize</key>
                <string>{57,43}</string>
            </dict>
            <key>enemy1_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,979},{51,39}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{51,39}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>enemy1_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,968},{51,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{51,47}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>enemy1_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,968},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>enemy1_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,369},{47,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{47,39}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,389},{69,89}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,99}</string>
            </dict>
            <key>enemy2_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,366},{69,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,93}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>enemy2_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,342},{69,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,93}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>enemy2_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,316},{69,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,95}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>enemy2_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,418},{69,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>enemy2_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,295},{69,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,95}}</string>
                <key>sourceSize</key>
                <string>{69,99}</string>
            </dict>
            <key>enemy3_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,517},{165,255}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,255}}</string>
                <key>sourceSize</key>
                <string>{165,261}</string>
            </dict>
            <key>enemy3_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{165,255}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{165,255}}</string>
                <key>sourceSize</key>
                <string>{165,261}</string>
            </dict>
            <key>enemy3_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{165,256}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,256}}</string>
                <key>sourceSize</key>
                <string>{165,260}</string>
            </dict>
            <key>enemy3_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,260},{165,255}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{165,255}}</string>
                <key>sourceSize</key>
                <string>{165,261}</string>
            </dict>
            <key>enemy3_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,256}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,256}}</string>
                <key>sourceSize</key>
                <string>{166,260}</string>
            </dict>
            <key>enemy3_down6.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,774},{144,203}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{144,203}}</string>
                <key>sourceSize</key>
                <string>{166,261}</string>
            </dict>
            <key>enemy3_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{165,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{165,256}}</string>
                <key>sourceSize</key>
                <string>{169,258}</string>
            </dict>
            <key>enemy3_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{165,246}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{165,246}}</string>
                <key>sourceSize</key>
                <string>{169,258}</string>
            </dict>
            <key>enemy3_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{165,250}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{165,250}}</string>
                <key>sourceSize</key>
                <string>{169,258}</string>
            </dict>
            <key>game_pause_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,979},{42,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>game_pause_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,979},{42,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{100,124}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,50},{100,124}}</string>
                <key>sourceSize</key>
                <string>{204,174}</string>
            </dict>
            <key>hero1_protect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,2},{120,156}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{120,156}}</string>
                <key>sourceSize</key>
                <string>{204,174}</string>
            </dict>
            <key>hero1_protect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,124},{116,154}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,18},{116,154}}</string>
                <key>sourceSize</key>
                <string>{204,174}</string>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,242},{98,120}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,51},{98,120}}</string>
                <key>sourceSize</key>
                <string>{204,174}</string>
            </dict>
            <key>hero_blowup_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,289},{98,124}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,49},{98,124}}</string>
                <key>sourceSize</key>
                <string>{204,174}</string>
            </dict>
            <key>hero_blowup_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,169},{98,124}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,49},{98,124}}</string>
                <key>sourceSize</key>
                <string>{204,174}</string>
            </dict>
            <key>hero_blowup_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,190},{98,124}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,49},{98,124}}</string>
                <key>sourceSize</key>
                <string>{204,174}</string>
            </dict>
            <key>hero_blowup_n4.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,413},{66,78}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,78},{66,78}}</string>
                <key>sourceSize</key>
                <string>{204,174}</string>
            </dict>
            <key>hero_protect_disapper_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,169},{118,150}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,23},{118,150}}</string>
                <key>sourceSize</key>
                <string>{204,174}</string>
            </dict>
            <key>hero_protect_disapper_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{186,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{186,172}}</string>
                <key>sourceSize</key>
                <string>{204,174}</string>
            </dict>
            <key>hero_protect_disapper_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,774},{192,174}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{192,174}}</string>
                <key>sourceSize</key>
                <string>{204,174}</string>
            </dict>
            <key>ufo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,387},{58,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,88}}</string>
                <key>sourceSize</key>
                <string>{58,88}</string>
            </dict>
            <key>ufo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,128},{60,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,103}}</string>
                <key>sourceSize</key>
                <string>{60,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elements.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a370b1e8f58a6ae024fb512cadfea57:1/1$</string>
            <key>textureFileName</key>
            <string>elements.png</string>
        </dict>
    </dict>
</plist>
